.lf-navbar{
    margin-top: 30px;
}

.luigi-brand{
	width: 260px;
	padding: 8px;
}

.luigi-nav{
	padding: 0;
    background-color: #225B78!important;
}

.luigi-nav-search-button{
    margin: 10px 10px 10px 0; 
}